[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "impimp"]
	path = impimp
	url = https://github.com/cran/impimp
[submodule "imptree"]
	path = imptree
	url = https://github.com/paul-fink/imptree
